clrs {
	color: #00bdfa;/* valtech blue */
	color: #363636;/* valtech dark grey */
	color: #ecedee;/* valtech light grey */
	color: #d60042;/* valtech red */
	color: #fecc00;/* valtech yellow */
}


/*-- Start reset --*/
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark form,menu,nav,object,ol,option,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;border:0;padding:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
	button,input[type=checkbox],input[type=image],input[type=radio],input[type=submit],label{cursor:pointer}
	strong{font-weight:700}
	em{font-style:italic}
	.fList{list-style:none}
	sub, sup {font-size: 0.8em;vertical-align:sub;}
	sup { vertical-align: super;}
/*-- End reset --*/

html {
	font-size: 62.5%;/* 10px */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #363636;/* valtech dark grey */
}

h1 {
	font-size: 9rem;
	font-weight: bold;
	color: #ecedee;/* valtech light grey */;
}

h2 {
	font-size: 2.4rem;
	font-weight: bold;
}

h3 {
	color: #00bdfa;/* valtech blue */
	font-weight: bold;
}

a {
	color: #00bdfa;/* valtech blue */
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}



/*-- Start interface --*/


/*-- End interface --*/

.o-content-width {
	margin: 0 auto;
	max-width: 60em;
}

.filter-heading,
.filter-list {
	display: inline-block;
}

.filter-list li {
	display: inline-block;
	margin-right: 1em;
}

/*-- Start general styles --*/

	.wrapper {
		position: relative;
		perspective: 600px;
	}


	.chart {
		transform-style: preserve-3d;
		transition: transform 1s;
	}

	.map-view .chart {
		/*transform: rotateX(45deg) rotateZ(10deg);*/
	}

	.main-svg {
		display: block;
		margin: 0 auto;
		width: 500px;
		height: 600px;
		/*background: lightblue;*/
	}

	.legends {
		position: absolute;
		top: 0;
		right: 0;
	}

	.info-box {
		opacity: 0;
		transition: opacity 0.5s;
	}

	.employee {
		fill: #00bdfa;/* valtech blue */
		stroke: #363636;/* valtech dark grey */
		stroke-width: 2px;
		transition: fill 0.5s, r 2s;
	}

	.map-view .employee {
		stroke-width: 1px;
		stroke: white;
		fill: #363636;/* valtech dark grey */;
	}

	.map-view .info-box--hometown,
	.map-view .info-box--offices {
		opacity: 1;
	}

/*-- End general styles --*/

.employee-matrix {
	margin-left: 400px;
	width: 440px;
}

.emp,
.emp__shadow {
	z-index: 1;
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #00bdfa;/* valtech blue */;
}

.emp::before,
.emp::after,
.emp__shadow::before,
.emp__shadow::after {
	position: relative;
	z-index: 1;
	display: block;
	content: '';
	top: 21px;
	left: 50%;
	border-radius: 50%;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	width: 16px;
	height: 16px;
	background: #00bdfa;/* valtech blue */;
	transform: translateX(-50%);
}

.emp {
	margin: 0 20px 30px 0;
}

.emp::after,
.emp__shadow::after {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	width: 8px;
	height: 6px;
}

.emp__shadow,
.emp__shadow::before,
.emp__shadow::after {
	background: #ecedee;/* valtech light grey */
	z-index: 0;
}

.emp__shadow {
	position: absolute;
	left: 150%;
	transform: scaleY(0.4) translate(-9px, 10px) skewX(-30deg);
}


.highlight-gender .employee--female {
	fill: pink;
}

.highlight-gender .employee--male {
	fill: #00bdfa;/* valtech blue */
}



/*-- Start topographic stuff --*/
	.map {
		opacity: 0;
		transition: opacity 0.5s ease-out;
	}

	.map-view .map {
		opacity: 1;
	}

	.province {
		fill: #ecedee;/* valtech light grey */
		fill: #ddd;
		stroke: #fff;
		stroke-width: 0.5;
	}
	.province:hover {
		/*fill: #333;*/
	}

	.office {
		opacity: 0;
		transition: opacity 0.5s 1s ease-out;

		fill: rgba(0,0,0, 0.8);
		fill: #fecc00;/* valtech yellow */;
		fill: #d60042;/* valtech red */
		fill: rgba(0, 189, 250, 0.5);/* valtech blue */

	}

	.map-view .office {
		opacity: 1;
	}
/*-- End topographic stuff --*/


/*-- Start age info --*/

	.age-chart {
		height: 200px;
		width: 600px;
		background: #ffc;
	}

	.age-chart rect {
		fill: #00bdfa;/* valtech blue */
	}

/*-- End age info --*/