clrs {
	color: #00bdfa;/* valtech blue */
	color: #363636;/* valtech dark grey */
	color: #ecedee;/* valtech light grey */
	color: #d60042;/* valtech red */
	color: #fecc00;/* valtech yellow */
}


body {
	font-family: helvetica, arial, sans-serif;
}

button {
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
}

#chart {
	position: relative;
	width: 1200px;
	height: 600px;
}

#defsHolder {
	height: 0;
	width: 0;
}

.bubble,
.bubble__bg {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-size: cover;
	background-color: #ecedee;/* valtech light grey */
	background-color: #363636;/* valtech dark grey */
	background-color: #00bdfa;/* valtech blue */
	transform: translate(-50%, -50%);
}

.bubble::after {
	content: attr(data-name);
	display: block;
	opacity: 0;
}

.bubble:hover::after {
	opacity: 1;
}

.bubble__bg {
	z-index: 0;
	border: 10px solid #00bdfa;/* valtech blue */
	border: 10px solid #ecedee;/* valtech light grey */
	border: 10px solid #363636;/* valtech dark grey */
}


/*-- Start utility classes --*/

	.u-is-invisible {
		visibility: hidden;
	}

/*-- End utility classes --*/