.highlight-gender {
	.employee--female,
	.employee--vrouw {
		fill: $color-female;
	}

	.employee--male,
	.employee--man {
		fill: $color-male;
	}
}

.employee--discipline-directiesecretaresse {
	stroke: green !important;
	stroke-width: 2 !important;
}

.employee--discipline-academy-coördinator {
	stroke: black !important;
	stroke-width: 2 !important;
}

.highlight-office {

	g {// add g-selector for specificity

		.employee--office-utrecht {
			fill: $color-utrecht;
		}
		
		.employee--office-amsterdam {
			fill: $color-amsterdam;
		}
		
		.employee--office-amersfoort {
			fill: $color-amersfoort;
		}
		
		.employee--office-eindhoven {
			fill: $color-eindhoven;
		}

	}

}