//-- Start topographic stuff --
	.geo-chart {
		width: 100%;
		height: 100%;
	}

	.map {
		opacity: 0;
		opacity: 1;
		transition: opacity 0.5s ease-out;

		.map-view & {
			opacity: 1;
		}

		.province {
			fill: $color-grey-xxlight;
			fill: #ddd;
			stroke: #fff;
			stroke-width: 0.5;
		}

		.office {
			opacity: 0;
			opacity: 1;
			transition: opacity 0.5s 1s ease-out;

			// fill: rgba(0,0,0, 0.8);
			fill: rgba($color-blue, 0.5);
			stroke: $color-blue;
			stroke-width: 2;
			stroke-width: 0;
			// fill: none;
		}

		$office-opacity: 0.3;

		.office--utrecht {
			stroke: $color-utrecht;
			fill: rgba($color-utrecht, $office-opacity);
		}
		
		.office--amsterdam {
			stroke: $color-amsterdam;
			fill: rgba($color-amsterdam, $office-opacity);
		}
		
		.office--amersfoort {
			stroke: $color-amersfoort;
			fill: rgba($color-amersfoort, $office-opacity);
		}
		
		.office--eindhoven {
			stroke: $color-eindhoven;
			fill: rgba($color-eindhoven, $office-opacity);
		}

		.map-view & .office {
			opacity: 1;
		}

	}

	.map-view {
			.employee {
				stroke-width: 1px;
				stroke: white;
				// stroke: rgba(0,0,0,0.5);
				// stroke: transparent;
				fill: $color-grey-xxdark;
			}
	}
//-- End topographic stuff --