clrs {
	color: #00bdfa;/* valtech blue */
	color: #363636;/* valtech dark grey */
	color: #ecedee;/* valtech light grey */
	color: #d60042;/* valtech red */
	color: #fecc00;/* valtech yellow */
}



/*-- Start interface --*/


/*-- End interface --*/

.o-content-width {
	margin: 0 auto;
	max-width: 100em;
}

header {
	margin: 0 0 4em;
	text-align: center;
}

.filter-heading,
.filter-list {
	display: inline-block;
}

.filter-list li {
	display: inline-block;
	margin-right: 1em;
}

/*-- Start general styles --*/

	.wrapper {
		position: relative;
		perspective: 600px;
	}

	.bubble-chart-container,
	.overall-charts-container {
		float: left;
	}


	.bubble-chart-container {
		transform-style: preserve-3d;
		transition: transform 1s;
		width: 60%;
		height: 80vh;
		/* proportions of map of netherlands is 1:1.175 or 0.85:1 */
		min-width: 500px;
		min-height: 600px;
	}

	.map-view .bubble-chart-container {
		/*transform: rotateX(45deg) rotateZ(10deg);*/
	}

	.bubble-chart {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		/*background: lightblue;*/
	}

	.overall-charts-container {
	}

	.legends {
		position: absolute;
		top: 0;
		right: 0;
	}

	.info-box {
		opacity: 0;
		transition: opacity 0.5s;
	}

	.employee {
		fill: #00bdfa;/* valtech blue */
		stroke: #363636;/* valtech dark grey */
		stroke-width: 2px;
		transition: fill 0.5s, r 2s;
	}

	.map-view .employee {
		stroke-width: 1px;
		stroke: white;
		fill: #363636;/* valtech dark grey */;
	}

	.map-view .info-box--hometown,
	.map-view .info-box--offices {
		opacity: 1;
	}

	.axis .domain {
		stroke: transparent;
	}

	.value {
		color: #00bdfa;/* valtech blue */;
	}

	.value--primary {
		font-size: 3rem;
		font-weight: bold;
	}

/*-- End general styles --*/





.highlight-gender .employee--female,
.highlight-gender .employee--vrouw {
	fill: pink;
}

.highlight-gender .employee--male,
.highlight-gender .employee--man {
	fill: #00bdfa;/* valtech blue */
}



/*-- Start topographic stuff --*/
	.map {
		opacity: 0;
		transition: opacity 0.5s ease-out;
	}

	.map-view .map {
		opacity: 1;
	}

	.province {
		fill: #ecedee;/* valtech light grey */
		fill: #ddd;
		stroke: #fff;
		stroke-width: 0.5;
	}
	.province:hover {
		/*fill: #333;*/
	}

	.office {
		opacity: 0;
		transition: opacity 0.5s 1s ease-out;

		fill: rgba(0,0,0, 0.8);
		fill: #fecc00;/* valtech yellow */;
		fill: #d60042;/* valtech red */
		fill: rgba(0, 189, 250, 0.5);/* valtech blue */

	}

	.map-view .office {
		opacity: 1;
	}
/*-- End topographic stuff --*/


/*-- Start age info --*/

	.age-chart {
		height: 200px;
		width: 600px;
	}

	.age-chart rect {
		fill: #00bdfa;/* valtech blue */
	}

/*-- End age info --*/