.line-chart {
	width: 720px;
	height: 360px;


	.domain {
		stroke: $color-light-grey;
		stroke-width: 2px;
	}

	.tick line {
		stroke: $color-dark-grey;
		stroke-width: 2px;
	}

	.chart-path {
		fill: none;
		stroke: $color-blue;
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
	}

	circle {
		fill: white;
		stroke: $color-blue;
		stroke-width: 3px;
		r: 5;
	}

	.secondary {
		color: #cbcccc;

		&.chart-path,
		circle {
			stroke: currentColor;
		}
	}

}