
.filter-heading,
.filter-list {
	display: inline-block;
}

.filter-list li {
	display: inline-block;
	margin-right: 1em;
}

/*-- Start general styles --*/



	.axis .domain {
		stroke: transparent;
	}

	.value {
		color: $color-blue;;
	}

	.value--primary {
		font-size: 3rem;
		font-weight: bold;
	}

/*-- End general styles --*/
