* {
	margin: 0;
	padding: 0;
	border: none;
	word-break: break-word;
	box-sizing: border-box;
}

*:focus {
	// only uncomment the line below if you offer an alternative
	// outline: none;
}

html {
}

body {
	overflow-scrolling: touch;
	padding: 0 3rem;
	background-color: $color-body-bg;
	font-size: $font-size-default;
	color: $color-text-default;
	font-family: $font-default;
	line-height: 1.5;
}

a {
	color: $color-link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $color-link-hover;
		text-decoration: underline;
	}

	&:active {
		color: $color-link-hover;
	}

	img {
		border: none;
	}
}

h1, .h1,
h2, .h2,
h3, .h3 {
	margin: 0 0 1em;
	font-weight: bold;
}

h1,
.h1 {
	font-size: 6rem;
	color: $color-grey-xxlight;
}

h2,
.h2 {
	color: $color-red;
	font-size: 2.4rem;
}

h3 {
	color: $color-red;
}

