.unit-chart {
	// height: 200px;
	// width: 600px;

	circle {
		fill: $color-blue;
	}

	.axis--y {
		.tick {
			line {
				display: none;
			}
		}
	}

	.count-label {
		font-size: $font-size-tiny;
		fill: $color-grey-medium;
		transition: opacity 1s 1s;

		
	}

	&.nodes-chart-context--is-inactive {
		.count-label {
			opacity: 0;
		}
	}
}
